streamlit==0.82.0
decord==0.6.0
numpy==1.18.1
matplotlib==3.1.3
more_itertools==8.2.0
opencv_python==4.5.1.48
scipy==1.4.1
git+https://github.com/openai/CLIP.git
moviepy==1.0.3
natsort==7.1.1
Pillow==8.3.1
pydub==0.25.1
torch==1.7.1
torchray==1.0.0.2
torchvision==0.8.2
